.Home .lander {
    padding: 80px 0;
    text-align: center;
  }
  
.Home .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}
  
.Home .lander p {
    color: #999;
}

.Home .input-box {
    margin: auto;
    width: 30%;
    margin-top: 15px;
    font-size: 25px;
    /*text-align: center;*/
}

.Home .datepicker {
    width: 110px;
}