.mainBox {
    display: flex;
    justify-content: center;
    padding: 30;
    border: 1px solid black;
    border-radius: 5px;
    height: 400px;
    width: 400px;
    /*background-color: #30a2b1;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}


.registerBox {
    display: flex;
    justify-content: center;
    padding: 30;
    border: 1px solid black;
    border-radius: 5px;
    height: 650px;
    width: 400px;
    /*8background-color: #30a2b1;*/
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

/* .secondaryBox {
    background-color: #30a2b1;
    border: none;
} */

.inputStyle {
    width: 80%;
    height: 50px;
    border-radius: 5px;
    resize: none;
    justify-content: center;
    margin-top: 5%;
    padding-left: 10px;
    padding-right: 10px;
}

.loginButton {
    text-align: center;
    width: 82%;
    height: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    border-radius: 10px;
    margin-top: 10%;
}

.signupButton {
    text-align: center;
    height: 50px;
    position: fixed;
    border: 1px solid grey;
    border-radius: 10px;
    width: 320px;
}

.signUpText {
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

.registerConfirm {
    text-align: center;
    width: 82%;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    border-radius: 5px;
    margin-top: 55%;
}

.iconStyle{
    vertical-align: middle;
}

.submitBox{
    display: flex;
    justify-content: center;
    padding: 1%;
    border: 1px solid black;
    border-radius: 5px;
    height: 500px;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    /*background-color: blueviolet;*/
}

.signupBox{
    display: flex;
    justify-content: center;
    padding-top: 0%;
    padding-bottom: 0%;
    border: 1px solid black;
    border-radius: 5px;
    height: 510px;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    /*background-color: blueviolet;*/
}

.loginBox{
    display: flex;
    justify-content: center;
    padding: 0%;
    border: 1px solid black;
    border-radius: 5px;
    height: 350px;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

.signup{
    display: flex;
    justify-content: center;
    padding: 0%;
    border: 1px solid black;
    border-radius: 5px;
    height: 350px;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

.articleBoxes{
    justify-content: center;
    top: 10px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

.submitButton {
    text-align: center;
    height: 50px;
    position: fixed;
    border: 1px solid grey;
    border-radius: 10px;
    width: 320px;
}

.moderateStyle {
    text-align: center;
    position: fixed;
    width: 50%;
    height: 80%;
    margin-left: 25%;
    overflow: scroll;
}
.moderateButton {
    margin-right: 5px;
}